<?xml version="1.0"?>
<config>
    <modules>
        <FW_PaypalDisable>
            <version>1.0.0</version>
        </FW_PaypalDisable>
    </modules>
    <global>
        <events>
        	<payment_method_is_active>
            	<observers>
                	<fw_paypaldisable_payment_method>
                    	<class>FW_PaypalDisable_Model_Observer</class>
                    	<method>disablePaymentMethod</method>
                	</fw_paypaldisable_payment_method>
            	</observers>
        	</payment_method_is_active>
    	</events>
    </global>
</config>